<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlueKart</title>
<body>
    <table width="100%"  cellspacing="0">
        <tr bgcolor="lightblue" >
            <td><img src="https://arun25648.w3spaces.com/BlueKart.png" alt="" width="300px" height="100"></td>
            <td align="center"><input type="text" name="search" id="search" placeholder="search..." size="100"><button style="border-color:black; background-color: black;"><a href=""><img src="https://arun25648.w3spaces.com/searchbutton.png" alt="" width="10px"></a></button></td>
            <td><a href="https://arun25648.w3spaces.com/Loginbluekart.html" target="_blank" rel="noreferrer noopener"><button type="button" style="border-color: black; background-color: black; color: white; width:100px; height:40px;">Login</a></button></td>
            <td><a href="https://arun25648.w3spaces.com/SignUpbluekart.html" target="_blank" rel="noreferrer noopener"><button type="button" style="border-color: black; background-color: black; color: white; width:100px; height:40px;">SignUp</a></button></td>
        </tr>
        <table width="100%" cellspacing="0" cellpadding="1">
            <tr bgcolor="black">
                <td align="left">
                <a href="https://www.flipkart.com/search?q=mobiles&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=mobiles%7CMobiles&requestId=17b774f0-40f0-452f-89e1-050aade9a3cd&as-searchtext=mob" target="_blank" rel="noreferrer noopener"><button style="border-color: black; background-color: black; color: white; width:200px; height:100px;"><img src="https://arun25648.w3spaces.com/mobile.png" alt="" width="90px"></a><br>Gadgets</button>&nbsp;
                <a href="https://www.flipkart.com/home-kitchen/home-appliances/pr?sid=j9e,abm&p[]=facets.fulfilled_by%255B%255D%3DFlipkart%2BAssured&p[]=facets.brand%255B%255D%3DLG&otracker=categorytree" target="_blank" rel="noreferrer noopener"><button style="border-color: black; background-color: black; color: white; width:200px; height:100px;"><img src="https://arun25648.w3spaces.com/electronics.png" alt="" width="150px"></a>Electronics</button>&nbsp;
                <a href="https://www.flipkart.com/mens-shirts/pr?sid=clo,ash,axc,mmk&p[]=facets.fulfilled_by%255B%255D%3DFlipkart%2BAssured&otracker=categorytree" target="_blank" rel="noreferrer noopener"><button style="border-color: black; background-color: black; color: white; width:200px; height:100px;"><img src="https://arun25648.w3spaces.com/fashion.png" alt="" width="150px"></a>Fashion</button>&nbsp;
                <a href="https://www.flipkart.com/grocery-supermart-store?marketplace=GROCERY&fm=neo%2Fmerchandising&iid=M_1d1cb5a1-e915-4a9c-b7d2-cd40dc397806_2_372UD5BXDFYS_MC.CBUR1Q46W5F1&otracker=hp_rich_navigation_2_2.navigationCard.RICH_NAVIGATION_Grocery_CBUR1Q46W5F1&otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_2_L0_view-all&cid=CBUR1Q46W5F1" target="_blank" rel="noreferrer noopener"><button style="border-color: black; background-color: black; color: white; width:200px; height:100px;"><img src="https://arun25648.w3spaces.com/grocery.png" alt="" width="150px"></a> Grocery</button>&nbsp;
                <a href="https://www.flipkart.com/offers-store?otracker=nmenu_offer-zone&fm=neo%2Fmerchandising&iid=M_4e8cd6dd-834c-448f-ba4c-c9f68cd06347_2_372UD5BXDFYS_MC.G6ZC4RAJ9OHU&otracker=hp_rich_navigation_1_2.navigationCard.RICH_NAVIGATION_Top%2BOffers_G6ZC4RAJ9OHU&otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_1_L0_view-all&cid=G6ZC4RAJ9OHU" target="_blank" rel="noreferrer noopener"><button style="border-color: black; background-color: black; color: white; width:200px; height:100px;"><img src="https://arun25648.w3spaces.com/offers.png" alt="" width="150px"></a> Offers</button></td>
            </tr>
        </table>
        <table width="100%" cellspacing="0" cellpadding="10">
            <tr bgcolor="white">
            
                <table width="100%" cellspacing="7" cellpadding="10" align="center">
                    <tr bgcolor="grey">
                      <td align="center"><font style="color: white;" size="50" face="New Times Roman">PETER ENGLAND</font>
                          <center><a href="https://www.peterengland.com/?msclkid=075b77f6f4991ac2b66d161564f76f14&utm_source=bing&utm_medium=cpc&utm_campaign=SK_PE_Brand_Exact_010621&utm_term=peter%20england&utm_content=Brand" target="_blank" rel="noreferrer noopener"><img src="https://arun25648.w3spaces.com/peter_england.jpg" alt="" width="800" ><img src="https://arun25648.w3spaces.com/peter_england2.jpg" alt="" width="500" height="305"></a></center></td>  
                    </tr>
                </table>
                <table align="left" width="30%" cellspacing="5" cellpadding="10">
                    <tr bgcolor="cream">
                        <td align="center"><a href="https://www.apple.com/in/iphone/?afid=p238%7CslOL9okV8-dc_mtid_209254ho67063_pcrid_547839330653_pgrid_127298781516_&cid=wwa-in-kwgo-iphone-slid----Avail-" target="_blank" rel="noreferrer noopener"><img src="https://arun25648.w3spaces.com/iphone.png" alt="" width="295px"></a>
                            <font style="color: white;" size="50" face="New Times Roman">Iphone Mobiles</font></td>
                    </tr>
                </table>
                <table align="right" width="30%" cellspacing="5" cellpadding="10">
                    <tr bgcolor="lightblue">
                        <td align="center"><a href="https://www.samsung.com/in/offer/online/samsung-fest/" target="_blank" rel="noreferrer noopener"><img src="https://arun25648.w3spaces.com/samsung.png" alt="" width="370px"></a>
                            <font style="color: white;" size="50" face="New Times Roman">Samsung Mobiles</font></td>
                    </tr>
                </table>
                <table align="center" width="30%" cellspacing="5" cellpadding="10">
                    <tr bgcolor="red">
                        <td align="center"><a href="https://www.oppo.com/in/store/?gclid=CjwKCAiA_omPBhBBEiwAcg7smXNw00jcMxUJHQhQur3jEPc-RsHlfD0MwWKDqdEF2lPTeBfCPbjT5xoCAB8QAvD_BwE" target="_blank" rel="noreferrer noopener"><img src="https://arun25648.w3spaces.com/oppo.png" alt="" width="240px"></a>
                            <font style="color: white;" size="50" face="New Times Roman"><br>Oppo Mobiles</font></td>
                    </tr>
                </table>
                <table align="left" width="40%" cellspacing="5" cellpadding="10">
                    <tr bgcolor="pink">
                        <td align="center"><a href="https://www.nike.com/in/?cp=76060516106_aff_|P%2F%2FYg3UM8Yg|&ranMID=41134&ranEAID=P%2F%2FYg3UM8Yg&ranSiteID=P__Yg3UM8Yg-OP0G.aiNqgwTL6emC1uUNw" target="_blank" rel="noreferrer noopener"><img src="https://arun25648.w3spaces.com/nike.jpg" alt="" width="720px"></a></td>
                    </tr>
                </table>
                <table align="right" width="40%" cellspacing="5" cellpadding="10">
                    <tr bgcolor="dodgerblue">
                        <td align="center"><a href="https://www.adidas.co.in/" target="_blank" rel="noreferrer noopener"><img src="https://arun25648.w3spaces.com/adidas.jpg" alt="" width="693px"></a></td>
                    </tr>
                </table>
            </tr>
        </table>
        <table width="100%" cellspacing="0" cellpadding="5">
            <tr bgcolor="lightblue" align="center">
            <th>Registered Office Address</th>
            <th>Policy</th>
            <th>About</th>
            <th>Social</th>
            </tr>
            <tr bgcolor="lightblue" align="center">
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15659.668621837898!2d76.33586792619609!3d11.119547823426874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba62ea1bd39f74d%3A0xaa1276b61c637ab9!2sKaruvarakundu%2C%20Kerala%20676523!5e0!3m2!1sen!2sin!4v1642413822097!5m2!1sen!2sin" width="130" height="70" style="border:0;" allowfullscreen="" loading="lazy"></iframe></td>
                <td><a href="https://codemaster8848.w3spaces.com/#contact" target="_blank" rel="noreferrer noopener">Contact Us</a></td>
                <td><a href="https://flow.page/codemaster" target="_blank" rel="noreferrer noopener">About Us</a></td>
                <td><a href="https://www.youtube.com/channel/UCGwulcaGQq5bZAFPHxSwwSg" target="_blank" rel="noreferrer noopener">Youtube</a></td>
            </tr>
            <tr bgcolor="lightblue" align="center">
                <td>Karuvarakundu, Malappuram, Kerala</td>
                <td>Return Policy</td>
                <td>Career</td>
                <td><a href="https://www.instagram.com/codemaster8848" target="_blank" rel="noreferrer noopener">Instagram</a></td>
                </td>
            </tr>
        </table>
        <table width="100%" cellpadding="0" Cellspacing="0">
            <tr bgcolor="grey" align="center">
                <td><img src="https://arun25648.w3spaces.com/cards.png" alt="" width="250px"></td>
            </tr>
        </table>   


    </table>
</body>
</html>
